stages:
  - build
  - test

build:
  stage: build
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  script:
    - echo "Building the application..."
    - docker build -t loan-approval-app .

test:
  stage: test
  image: python:3.9-slim
  script:
    - echo "Running tests..."
    - pip install --no-cache-dir -r requirements.txt
    - python -m src.pipeline.train_pipeline